<section>
  <h2>Usage</h2>
  <ul>
    <li>Import <b>NgxFormsService</b> in your component or service</li>
    <li>Configure your form</li>
    <li>Handle the form actions</li>
  </ul>

  <tabs>
    <tab tabTitle="Code">
      <highlight [lang]="'ts'"
                 [code]="tsCode">
      </highlight>
    </tab>
    <tab tabTitle="Template">
      <highlight [lang]="'html'"
                 [code]="templateCode">
      </highlight>
    </tab>
  </tabs>

  <output>
    <ngx-form [config]="formConfig"
              [item]="item"
              (action)="handleAction($event)">
    </ngx-form>
  </output>

</section>
