<section>
  <h2>Usage</h2>

  <p>Import <b>NgxFormsModule</b> in the root module</p>

  <tabs>
    <tab tabTitle="Code">
      <highlight [lang]="'ts'"
                 [code]="importCode">
      </highlight>
    </tab>
    <tab tabTitle="Template">
      <highlight [lang]="'html'"
                 [code]="basicCode">
      </highlight>
    </tab>
  </tabs>

  <output>
  </output>

  <tabs>
    <tab tabTitle="Code">
      <highlight [lang]="'ts'"
                 [code]="countCode">
      </highlight>
    </tab>
    <tab tabTitle="Template">
      <highlight [lang]="'html'"
                 [code]="countTemplate">
      </highlight>
    </tab>
    <tab tabTitle="Style">
      <highlight [lang]="'scss'"
                 [code]="countStyle">
      </highlight>
    </tab>
  </tabs>

  <output>

  </output>

</section>
