<section class="mt-0">
  <h2>Installation</h2>
  <p class="lead">Install with <b>npm</b></p>
  <div class="sub-section">
    <highlight [code]="installCode"></highlight>
  </div>
</section>

<section>
  <h2>Setup</h2>
  <p class="lead">Import <b><code>NgxFormsModule</code></b> in the root module</p>
  <ui-card icon="fa fa-code"
           title="Code">
    <highlight [lang]="'ts'"
               [code]="importCode">
    </highlight>
  </ui-card>
</section>

<section>
  <h2>Next</h2>
  <p class="lead sub-section">Check out the <b><a routerLink="/usage">Usage</a></b> page to learn how to build a form.</p>
</section>
