<ui-header></ui-header>
<section>
  <h2>Demo</h2>
  <p class="lead">This form is rendered by ngx-forms. Check the <b><a routerLink="/usage">usage</a></b> page to see how it's implemented.</p>
  <div class="row">
    <div class="col-md-8">
      <ngx-form [config]="formConfig"
                [item]="item"
                (action)="handleAction($event)">
      </ngx-form>
    </div>
    <div class="col-md-4">
      <ui-card icon="fa fa-database" title="Data">
        <pre class="ui-card-block">{{ item | json }}</pre>
      </ui-card>
      <ui-card icon="fa fa-database" title="Result">
        <pre class="ui-card-block">{{ result | json }}</pre>
      </ui-card>
    </div>
  </div>
</section>
