<section>
  <h2>Usage</h2>
  <ul>
    <li>Import <b>NgxFormsService</b> in your component or service</li>
    <li>Configure your form</li>
    <li>Handle the form actions</li>
  </ul>


  <div class="row">
    <div class="col-md-8">

      <div class="mb-3"></div>
      <tabs>
        <tab tabTitle="Template">
          <highlight [lang]="'html'"
                     [code]="templateCode">
          </highlight>
        </tab>
      </tabs>
      <div class="mb-3"></div>
      <tabs>
        <tab tabTitle="Code">
          <highlight [lang]="'ts'"
                     [code]="tsCode">
          </highlight>
        </tab>
      </tabs>
    </div>
    <div class="col-md-4">

      <ngx-form [config]="formConfig"
                [item]="item"
                (action)="handleAction($event)">
      </ngx-form>

    </div>
  </div>


</section>
