<section>
  <h2>Usage</h2>
  <p class="lead">
    Make sure to install ngx-forms using the info on the <b><a routerLink="/installation">Installation</a></b> page.
  </p>

  <div *ngFor="let step of steps">
    <h4 [innerHtml]="step.title"></h4>
    <p  class="lead" [innerHtml]="step.description"></p>
    <ui-card icon="fa fa-code" title="Code">
      <highlight [lang]="step.code.lang" [code]="step.code.code"></highlight>
    </ui-card>
  </div>

  <h4>Results in a form</h4>
  <p class="lead">This should render a form like this</p>

  <div class="mb-4">
    <ngx-form [item]="item" (action)="handleAction($event)" [config]="formConfig"></ngx-form>
  </div>

  <p class="lead">
    Check the <b><a routerLink="/fields">fields</a></b> page for an example of the available fields.
  </p>
</section>
