<section>
  <h2>Usage</h2>
  <ul>
    <li>Import <b>NgxFormsService</b> in your component or service</li>
    <li>Configure your form</li>
    <li>Handle the form actions</li>
  </ul>


  <div class="row">
    <div class="col-md-8">

      <ui-card icon="fa fa-code" title="Code">
        <highlight lang="ts" [code]="tsCode"></highlight>
      </ui-card>

      <ui-card icon="fa fa-html5" title="Template">
        <highlight lang="html" [code]="templateCode"></highlight>
      </ui-card>

    </div>
    <div class="col-md-4">

      <ui-card icon="fa fa-chevron-right" title="Output">
        <div class="ui-card-block">
          <ngx-form-fields [fields]="formConfig.fields"></ngx-form-fields>
        </div>
      </ui-card>

    </div>
  </div>


</section>
