<section class="mt-0">
  <h2>Usage</h2>
  <p class="lead sub-section">
    Ensure that you install <b><code>@ngx-plus/ngx-forms</code></b> and import <b><code>NgxFormsModule</code></b> in your root module before proceeding. Details can be found on the <b><a routerLink="/installation">Installation</a></b> page.
  </p>
  <ul>
    <li *ngFor="let step of steps">
      <h4 [innerHtml]="step.title"></h4>
      <p class="lead"
         [innerHtml]="step.description"></p>
      <ui-card *ngIf="step.code.code"
               [icon]="'fa fa-' + ((step.code.lang === 'ts') ? 'code' : 'html5')"
               [cardTitle]="(step.code.lang === 'ts') ? 'Code' : 'Template'"
               (action)="handleAction({ type: 'CopyCode', payload: step.code.code })"
               includeCopier="true">
        <highlight [lang]="step.code.lang"
                   [code]="step.code.code">
        </highlight>
      </ui-card>
    </li>
    <li>
      <h4>The result is a new form</h4>
      <div class="mb-4">
        <ngx-form [item]="item"
                  (action)="handleAction($event)"
                  [config]="formConfig">
        </ngx-form>
      </div>
    </li>
  </ul>
</section>

<section>
  <h2>Next</h2>
  <p class="lead sub-section">
    Check the <b><a routerLink="/fields">Fields</a></b> page for an example of the available fields.
  </p>
</section>
