<section>
  <h2>Fields</h2>

  <p class="lead">
    The NgxFormsService can generate field definitions that can be used in the `fields` array in the form config.
  </p>

  <ui-card icon="fa fa-code" title="Code">
    <highlight lang="ts" [code]="exampleConfig"></highlight>
  </ui-card>

</section>
<section>
  <h2>Field Types</h2>

  <div *ngFor="let field of fields">
    <h3 class="my-4">{{field.name}}</h3>



    <div class="row">
      <div class="col-md-6">

        <ui-card icon="fa fa-code" title="Code" *ngIf="field.code.code">
          <highlight
            lang="ts"
            [code]="field.code.code"></highlight>
        </ui-card>

        <ui-card icon="fa fa-html5" title="Template" *ngIf="field.code.template">
          <highlight
            lang="html"
            [code]="field.code.template">
          </highlight>
        </ui-card>

      </div>
      <div class="col-md-6">

        <ui-card icon="fa fa-chevron-right" title="Output">
          <div class="ui-card-block">
            <ngx-form-fields [fields]="field.formConfig.fields"></ngx-form-fields>
          </div>
        </ui-card>

      </div>
    </div>

  </div>
</section>

