<div class="container">
  <section>
    <h2>Issues</h2>
    <p class="lead sub-section">If you identify any errors in this package or have any ideas for improvements,
      please open an <b><a href="https://github.com/ngx-plus/ngx-forms/issues">issue</a></b>.
      We look forward to receiving your input!</p>
  </section>
  <section class="pb-5">
    <h2>Authors</h2>
    <div class="sub-section">
      <ul>
        <li>
          <a class="lead" href="https://github.com/brannon-darby"><b>Brannon N. Darby II</b></a>
        </li>
        <li>
          <a class="lead" href="https://github.com/beeman"><b>Bram Borggreve</b></a>
        </li>
      </ul>
    </div>
  </section>
  <img class="rounded mx-auto mb-5 d-block"
       src="assets/img/ngx-plus-light.svg"
       height="150px"
       alt="ngx-plus">
</div>

<nav class="navbar footer">
  <div class="container-fluid">
    <div class="row w-100 align-items-center justify-content-around">
      <div class="col text-left">
        <a href="https://github.com/ngx-plus/ngx-forms">@ngx-plus/ngx-forms</a>
      </div>
      <div class="col text-center">
        MIT Licensed
      </div>
      <div class="col text-right">
        Angular v{{ ngVersion }}
      </div>
    </div>
  </div>
</nav>
