@import '../../../assets/style/variables';

.footer {
  background  : $brand-primary;
  bottom      : 0;
  color       : #ccc;
  margin-left : -80px;
  margin-right: -80px;
  margin-top  : 80px;
  padding     : 5px 20px;
  position    : fixed;
  text-align  : center;
  width       : 100vw;

  a {
    color: #ccc;
  }
}
