<section>
  <h2>Issues</h2>
  <p>If you identify any errors in this package, or have any ideas for improvements, please open an <b><a href="https://github.com/ngx-plus/ngx-forms/issues">issue</a></b>. We look forward to your input!</p>
</section>
<section class="pb-5">
  <h2>Authors</h2>
  <ul>
    <li>
      <a href="https://github.com/brannon-darby"><b>Brannon N. Darby II</b></a>
    </li>
    <li>
      <a href="https://github.com/beeman"><b>Bram Borggreve</b></a>
    </li>
  </ul>
  <img class="rounded mx-auto my-5 d-block"
       src="assets/img/ngx-plus-light.svg"
       height="150px"
       alt="ngx-plus">
</section>

<div class="col-12 footer">
  <a href="https://github.com/ngx-plus/ngx-forms">@ngx-plus/ngx-forms</a>
</div>
